<div class="p-4 pt-0 relative flex flex-col h-full">

  <header class="flex p-4 mat-app-background">
    <div class="flex-1"></div>
    <button mat-icon-button matTooltip="Add new word" (click)="create()">
      <mat-icon>add</mat-icon>
    </button>
  </header>

  <div class="flex-1 overflow-hidden overflow-y-scroll">
    <table
      mat-table
      *ngIf="words$ | async as words"
      [dataSource]="words.content"
      class="mat-elevation-z8 w-full"
    >

      <!-- Name Column -->
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-col">
            <span class="capitalize">{{element.name}}</span>
            <span class="text-xs opacity-75">{{element.createAt | date}}</span>
          </div>
        </td>
      </ng-container>

      <!-- associate Column -->
      <ng-container matColumnDef="associate">
        <th mat-header-cell *matHeaderCellDef>Associate</th>
        <td mat-cell *matCellDef="let element">
          <div class="px-2">
            <input
              class="bg-inherit w-full"
              [(ngModel)]="element.associate"
              (blur)="updateWord(element)"
            />
          </div>
        </td>
      </ng-container>

      <!-- Definition Column -->
      <ng-container matColumnDef="definition">
        <th mat-header-cell *matHeaderCellDef> Definition</th>
        <td mat-cell *matCellDef="let element">
          <div class="px-2">
            <input
              class="bg-inherit w-full"
              [(ngModel)]="element.definition"
              (blur)="updateWord(element)"
            />
          </div>
        </td>
      </ng-container>

      <!-- done Column -->
      <ng-container matColumnDef="done">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle
            [(ngModel)]="element.done"
            (change)="updateWord(element)">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
