<form class="grid" [formGroup]="form">
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Name</mat-label>
    <input autocomplete="off" matInput placeholder="Apple" formControlName="name">
  </mat-form-field>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Definition</mat-label>
    <input autocomplete="off" matInput placeholder="Яблоко" formControlName="definition">
  </mat-form-field>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Associate</mat-label>
    <input autocomplete="off" matInput placeholder="Green circle fruit" formControlName="associate">
  </mat-form-field>
</form>
